* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: rgb(27, 43, 53);
    color: whitesmoke;
}

i {
    pointer-events: none;
}

.cards-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 25px;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 500px)); */
}

.card {
    width: 280px;
    height: 350px;
    background-color: rgb(64, 88, 97);
}

img {
    max-width: 100%;
}